<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="bootstrap-responsive.min.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="matrix-media.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="matrix-style.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="components.css" />
		
		<!-- ****** favicons do faviconit.com ****** -->
	<link rel="shortcut icon" 												href="#{resource['images/favicon/favicon.ico']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="16x16 32x32 64x64" href="#{resource['images/favicon/favicon.ico']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="196x196" 			href="#{resource['images/favicon/favicon-192.png']}" />
	<link rel="shortcut icon" type="image/x-icon" sizes="160x160" 			href="#{resource['images/favicon/favicon-160.png']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="96x96" 			href="#{resource['images/favicon/favicon-96.png']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="64x64" 			href="#{resource['images/favicon/favicon-64.png']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="32x32" 			href="#{resource['images/favicon/favicon-32.png']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="16x16" 			href="#{resource['images/favicon/favicon-16.png']}"/>
	<link rel="apple-touch-icon" 											href="#{resource['images/favicon/favicon-57.png']}"/>
	<link rel="apple-touch-icon" sizes="114x114"							href="#{resource['images/favicon/favicon-114.png']}"/>
	<link rel="apple-touch-icon" sizes="72x72" 								href="#{resource['images/favicon/favicon-72.png']}"/>
	<link rel="apple-touch-icon" sizes="144x144" 							href="#{resource['images/favicon/favicon-144.png']}"/>
	<link rel="apple-touch-icon" sizes="60x60" 								href="#{resource['images/favicon/favicon-60.png']}"/>
	<link rel="apple-touch-icon" sizes="120x120" 							href="#{resource['images/favicon/favicon-120.png']}"/>
	<link rel="apple-touch-icon" sizes="76x76" 								href="#{resource['images/favicon/favicon-76.png']}"/>
	<link rel="apple-touch-icon" sizes="152x152" 							href="#{resource['images/favicon/favicon-152.png']}"/>
	<link rel="apple-touch-icon" sizes="180x180" 							href="#{resource['images/favicon/favicon-180.png']}"/>
	<meta name="msapplication-TileColor" content="#FFFFFF"/>
	<meta name="msapplication-TileImage" content="/favicon-144.png"/>
	<meta name="msapplication-config" content="/browserconfig.xml"/>
	<!-- ****** favicons do faviconit.com ****** -->
	</f:facet>

	<title>Suporte Otimize</title>
	
	
	
	<h:outputScript target="body" library="primefaces" name="jquery/jquery.js" />
	<h:outputScript target="body" library="js" name="bootstrap.js" />
	<h:outputScript target="body" library="js" name="bootstrap.min.js" />
	<h:outputScript target="body" library="js" name="matrix.js" />
	<h:outputScript target="body" library="js" name="escript.js" />
</h:head>

<h:body>

	<header>
		<div id="header">
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
			<ul class="nav">
				<li class=""><a title="Minha Conta" href="http://localhost/MEU/index.php/mapos/minhaConta"><i class="icon icon-star"></i> <span class="text">Minha Conta</span></a></li>
				<li class=""><a title="Sair do Sistema" href="http://localhost/MEU/index.php/mapos/sair"><i class="icon icon-share-alt"></i> <span class="text">Sair do Sistema</span></a></li>
			</ul>
		</div>
	</header>

	<aside>
		<ui:include src="Menu.xhtml" />
	</aside>

	<section>
		<div id="content">
			
			<div id="content-header">
				<div id="breadcrumb"> 
					<a href="http://localhost/MEU/" class="tip-bottom" data-original-title="Menu Principal"><i class="icon-home"></i> Menu Principal</a> 
					<a href="http://localhost/MEU/index.php/clientes" class="tip-bottom" data-original-title="Clientes">Clientes</a>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<ui:insert name="content" />
					</div>
				</div>
			</div>
		</div>
		<script>
			function mascara(o,f){ 
				v_obj=o 
				v_fun=f 
				setTimeout("execmascara()",1) 
			} 
			function execmascara(){ 
				v_obj.value=v_fun(v_obj.value) 
			} 
			function moeda(v){ 
				v=v.replace(/\D/g,""); // permite digitar apenas numero 
				v=v.replace(/(\d{1})(\d{15})$/,"$1.$2") // coloca ponto antes dos ultimos digitos 
				v=v.replace(/(\d{1})(\d{11})$/,"$1.$2") // coloca ponto antes dos ultimos 11 digitos 
				v=v.replace(/(\d{1})(\d{8})$/,"$1.$2") // coloca ponto antes dos ultimos 8 digitos 
				v=v.replace(/(\d{1})(\d{5})$/,"$1.$2") // coloca ponto antes dos ultimos 5 digitos 
				v=v.replace(/(\d{1})(\d{1,2})$/,"$1,$2") // coloca virgula antes dos ultimos 2 digitos 
				return v; 
			}
			$(function(){
				$('[placeholder]').parents('form').bind('submit', function(e) {
					var $form = $(e.target);
					if(!!$form.data('binded') == false){
						$(e.target).find('[placeholder]').each(function(i,el) {
							if (el.val() == el.attr('placeholder')) {
								el.val('');
							}
						});
						$form.data('binded',true);
					}
				});
			});
		</script>
	</section>
	
	<div class="row-fluid">
		<div id="footer" class="span12">
			<p:column>
				<p:graphicImage name="images/favicon/favicon-32.png"  />
				<h:outputText value="2018 © Direitos Reservados" style="margin-left:30px" />
			</p:column>
			
		</div>
	</div>

</h:body>
</html>