<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="fa  fa-fw  fa-list-ul"></i>
			Menu</a>
		<ul style="display: block;">
			<li class="active"><a href="PainelGestor.xhtml"><i
					class="icon icon-home"></i> <span>Menu Principal</span></a></li>

			<li class=""><a href="Clientes.xhtml"><i
					class="icon icon-group"></i> <span>Unidade Organizacional</span></a></li>

			<li class=""><a href="LigacoesForm.xhtml"><i
					class="icon icon-phone"></i> <span>Ligação</span></a></li>

			<li class=""><a href="http://localhost/MEU/index.php/servicos"><i
					class="icon icon-user"></i> <span>Funcionario</span></a></li>

			<li class=""><a href="AtendimentosForm.xhtml"><i
					class="icon icon-tags"></i> <span>Atendimentos</span></a></li>


			<li class="submenu "><a href="#"><i
					class="icon icon-list-alt"></i> <span>Relatórios</span> <span
					class="label"><i class="icon-chevron-down"></i></span></a>
				<ul>
					<li><a
						href="http://localhost/MEU/index.php/relatorios/clientes">Clientes</a></li>
					<li><a
						href="http://localhost/MEU/index.php/relatorios/produtos">Produtos</a></li>
					<li><a
						href="http://localhost/MEU/index.php/relatorios/servicos">Serviços</a></li>
					<li><a href="http://localhost/MEU/index.php/relatorios/os">Ordens
							de Serviço</a></li>
					<li><a href="http://localhost/MEU/index.php/relatorios/vendas">Vendas</a></li>
					<li><a
						href="http://localhost/MEU/index.php/relatorios/financeiro">Financeiro</a></li>

				</ul></li>

		</ul>
	</div>
</ui:composition>