<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:otm="http://java.sun.com/jsf/composite/otm"
	template="/WEB-INF/templates/Layout.xhtml">




	<ui:define name="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid" style="margin-top: 0">
						<div class="span12">
							<div class="widget-box">
								<div class="widget-title">
									<span class="icon"> <i class="fa  fa-fw  fa-user"></i>
									</span>
									<h5>Atendimentos</h5>
								</div>
								<div class="widget-content nopadding">
									<form id="formCliente" method="post" class="form-horizontal"
										novalidate="novalidate">
										<div class="control-group">

											<div class="span12" id="divProdutosServicos"
												style="margin-left: 0">

												<div class="tab-content">
													<div class="tab-pane active" id="tab1">
														<div class="span12" id="divCadastrarOs">
															<form>
																<!-- CAMPO 1 -->
																<div class="control-group">
																	<div class="span12" style="padding: 1%; margin-left: 0">

																		<div class="span1">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<label for="status">Consulta <span
																				class="required"></span>
																			</label>

																		</div>
																		<div class="span3">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<div class="span12">
																				<h:selectOneMenu id="consulta"
																					style="display: inline-block !important;
																				height: 30px; 
																				float: left;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;"
																					required="true" value="#{MBProtocolo.consulta}">
																					<a4j:ajax event="change" execute="@this" />
																					<f:selectItems value="#{MBProtocolo.tipoconsulta}" />
																				</h:selectOneMenu>
																			</div>
																		</div>
																		<div class="span3">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<p:inputText id="valorConsulta"
																				value="#{MBProtocolo.valorConsulta}"
																				style="display: inline-block !important;
																				height: 30px; 
																				float: left;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;" />
																		</div>
																		<div class="span3">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<p:commandButton value="Consultar"
																				action="#{MBProtocolo.consultarProtocolos}"
																				update="@all"
																				styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left PersButton"
																				icon="fa fa-search">
																			</p:commandButton>
																		</div>
																	</div>
																</div>
																<div class="control-group">
																	<div class="span12" style="padding: 1%; margin-left: 0">
																		<div class="span1">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<label for="status">Periodo <span
																				class="required"></span>
																			</label>

																		</div>
																		<div class="span3">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<p:inputMask id="dataInicio" class="form-control"
																				mask="99/99/9999" autocomplete="off"
																				value="#{MBProtocolo.dataInicio}"
																				style="display: inline-block !important;
																				height: 20px; 
																				float: left;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;"></p:inputMask>
																		</div>

																		<div class="span3">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<p:inputMask id="dataFim" class="form-control"
																				mask="99/99/9999" maxlength="10" autocomplete="off"
																				value="#{MBProtocolo.dataFim}"
																				style="display: inline-block !important;
																				height: 30px; 
																				float: left;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;"></p:inputMask>
																		</div>

																	</div>
																</div>

																<div class="control-group">
																	<div class="span12" style="padding: 1%;">
																		<div class="span1">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<label for="status">Situação <span
																				class="required"></span>
																			</label>
																		</div>

																		<div class="span3">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<h:outputText styleClass="tituloCampos"
																				value="#{msg.msg_consultar_por}" />
																			<h:selectOneMenu styleClass="campos"
																				style="display: inline-block !important;
																				height: 30px; 
																				float: left;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;"
																				id="valorInformado" required="true"
																				value="#{MBProtocolo.valorInformado}">
																				<a4j:ajax event="change" execute="@this" />
																				<f:selectItems value="#{MBProtocolo.situacao}" />
																			</h:selectOneMenu>

																		</div>

																	</div>
																</div>

																<!-- FINAL CAMPO 1 -->

																<div class="span12" style="padding: 1%; margin-left: 0"></div>


															</form>
														</div>
													</div>
												</div>
											</div>

										</div>
										<p:dataTable id="tabelaProduto" reflow="true" paginator="true"
											paginatorPosition="bottom"
											value="#{MBProtocolo.itensProtocolosConsultados}" rows="10"
											var="atendimentos">

											<p:column headerText="Protocolo">
												<h:outputText value="#{atendimentos.numeroProtocolo}" />
											</p:column>
											<p:column headerText="Cliente">
												<h:outputText value="#{atendimentos.clienteProtocolo}" />
											</p:column>
											<p:column headerText="Responsavel Otimize">
												<h:outputText value="#{atendimentos.responsavelProtocolo}" />
											</p:column>
											<p:column headerText="Data Abertura">
												<h:outputText value="#{atendimentos.aberturaProtocolo}" />
											</p:column>

											<p:column headerText="Data Fechamento">
												<h:outputText value="#{atendimentos.fechamentoProtocolo}" />
											</p:column>
											<p:column headerText="Situação">
												<h:outputText value="#{atendimentos.situacaoProtocolo}" />
											</p:column>
										</p:dataTable>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>