<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/templates/Layout.xhtml">
	<ui:define name="content">
		<div id="content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						 <h:form id="teste">
			<p:toolbarGroup>
				<p:commandButton value="Adicionar" actionListener="#{MBLigacoes.prepararSalvar}" action="LigacoesAtendidas.xhtml" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left PersButton PersButton-add" icon="fa fa-plus" />
			</p:toolbarGroup>
		</h:form>
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"> <i class="icon-user"></i>
								</span>
								<h5>Clientes</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered ">
									<thead>
										<tr>
											<th>#</th>
											<th>Nome</th>
											<th>CPF/CNPJ</th>
											<th>Telefone</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2</td>
											<td>tercio</td>
											<td>02434310583</td>
											<td>62-3265-6598</td>
											<td><a href="http://localhost/MEU/index.php/clientes/visualizar/2" style="margin-right: 1%" class="btn tip-top" data-original-title="Ver mais detalhes"><i class="icon-eye-open"></i></a><a href="http://localhost/MEU/index.php/clientes/editar/2" style="margin-right: 1%" class="btn btn-info tip-top" data-original-title="Editar Cliente"><i class="icon-pencil icon-white"></i></a><a href="#modal-excluir" role="button" data-toggle="modal" cliente="2" style="margin-right: 1%" class="btn btn-danger tip-top" data-original-title="Excluir Cliente"><i class="icon-remove icon-white"></i></a></td>
										</tr>
										<tr>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- Modal -->
						<div id="modal-excluir" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<form action="http://localhost/MEU/index.php/clientes/excluir" method="post">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h5 id="myModalLabel">Excluir Cliente</h5>
								</div>
								<div class="modal-body">
									<input type="hidden" id="idCliente" name="id" value=""></input>
									<h5 style="text-align: center">Deseja realmente excluir este cliente e os dados associados a ele (OS, Vendas, Receitas)?</h5>
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
									<button class="btn btn-danger">Excluir</button>
								</div>
							</form>
						</div>
						<script type="text/javascript">
							$(document).ready(function() {
								$(document).on('click', 'a', function(event) {
									var cliente = $(this).attr('cliente');
									$('#idCliente').val(cliente);
								});
							});
						</script>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>