<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:otm="http://java.sun.com/jsf/composite/otm"
	template="/WEB-INF/templates/Layout.xhtml">




	<ui:define name="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid" style="margin-top: 0">
						<div class="span12">
							<div class="widget-box">
								<div class="widget-title">
									<span class="icon"> <i class="fa  fa-fw  fa-user"></i>
									</span>
									<h5>Atendimentos</h5>
								</div>
								<div class="widget-content nopadding">
									<form id="formCliente" method="post" class="form-horizontal"
										novalidate="novalidate">
										<div class="control-group">

											<div class="span12" id="divProdutosServicos"
												style="margin-left: 0">

												<div class="tab-content">
													<div class="tab-pane active" id="tab1">
														<div class="span12" id="divCadastrarOs">
															<form>
																<!-- CAMPO 1 -->
																<div class="control-group">
																	<div class="span12" style="padding: 1%; margin-left: 0">

																		<div class="span1">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<label for="status">Protocolo<span
																				class="required"></span>
																			</label>

																		</div>

																		<div class="span3">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<p:inputText id="valorConsulta"
																				value="#{MBHistorico.valorProtocolo}"
																				style="display: inline-block !important;
																				height: 30px; 
																				float: left;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;" />
																		</div>
																		<div class="span3">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<p:commandButton value="Consultar"
																				action="#{MBHistorico.consultarHistorico}"
																				update="@all"
																				styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left PersButton"
																				icon="fa fa-search">
																			</p:commandButton>
																		</div>
																	</div>
																</div>




																<!-- FINAL CAMPO 1 -->

																<div class="span12" style="padding: 1%; margin-left: 0"></div>


															</form>
														</div>
													</div>
												</div>
											</div>

										</div>
										<p:dataTable id="tabelaHistorico" reflow="true"
											paginator="true" paginatorPosition="bottom"
											value="#{MBHistorico.itensHistorico}" rows="12"
											var="historico">

											<p:column headerText="Codigo">
												<h:outputText value="#{historico.codigoHistoricoProtocolo}" />
											</p:column>
											<p:column headerText="Responsavel Envio">
												<h:outputText value="#{historico.mensagemEnviadaProtocolo}" />
											</p:column>
											<p:column headerText="Historico">
												<h:outputText value="#{historico.mensagemRecebidaProtocolo}" />
											</p:column>
											<p:column headerText="Data Envio">
												<h:outputText value="#{historico.dataRecebidaMensagem}" />
											</p:column>


										</p:dataTable>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>