<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:otm="http://java.sun.com/jsf/composite/otm"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">


		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid" style="margin-top: 0">
						<div class="span12">
							<div class="widget-box">
								<div class="widget-title">
									<span class="icon"> <i class="fa  fa-fw  fa-user"></i>
									</span>
									<h5>Ligações</h5>
								</div>
								<div class="widget-content nopadding">
									<form id="formCliente" method="post" class="form-horizontal"
										novalidate="novalidate">
										<div class="control-group">

											<div class="span12" id="divProdutosServicos"
												style="margin-left: 0">

												<div class="tab-content">
													<div class="tab-pane active" id="tab1">
														<div class="span12" id="divCadastrarOs">
															<form>
																<!-- CAMPO 1 -->
																<div class="control-group">
																	<div class="span12" style="padding: 1%; margin-left: 0">
																		<div class="span2">
																			<div class="span12" style="padding: 4.6%;"></div>
																			<label for="status">Data Ligação<span
																				class="required"></span>
																			</label>
																		</div>

																		<div class="span3">
																			<div class="span12" style="padding: 2.5%;"></div>
																			<p:inputMask id="dataLigacao" label="DataLigacao"
																				style="display: inline-block !important;
																				height: 10px; 
																				float: rigth;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;"
																				value="#{MBLigacoes.ligacoes.dataLigacao}"
																				required="false" mask="99/99/9999">
																			</p:inputMask>
																		</div>
																	</div>


																	<div class="span12" style="padding: 1%; margin-left: 0">

																		<div class="span2">

																			<label for="status">Unidade de Ensino<span
																				class="required"></span>
																			</label>

																		</div>

																		<div class="span3">

																			<div class="span12">
																				<h:selectOneMenu id="consulta"
																					style="display: inline-block !important;
																				height: 30px; 
																				float: right;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;"
																					required="true" value="#{MBLigacoes.unidadeEnsino}">
																					<a4j:ajax event="change" execute="@this" />
																					<f:selectItems
																						value="#{MBLigacoes.unidadeOrganizacional}" />
																				</h:selectOneMenu>
																			</div>

																		</div>

																		<div class="span1">
																			<label for="status">Cliente<span
																				class="required"></span>
																			</label>
																		</div>

																		<div class="span3">

																			<p:inputText id="valorConsulta"
																				value="#{MBProtocolo.valorConsulta}"
																				style="display: inline-block !important;
																				height: 30px; 
																				float: left;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;" />
																		</div>
																	</div>







																	<div class="span12" style="padding: 1%; margin-left: 0">

																		<div class="span2">

																			<label for="status">Responsavel Otimize<span
																				class="required"></span>
																			</label>
																		</div>
																		<div class="span3">

																			<div class="span12">
																				<h:selectOneMenu id="respOtimize"
																					style="display: inline-block !important;
																				height: 30px; 
																				float: right;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;"
																					required="true"
																					value="#{MBLigacoes.ligacoes.responsavelOtimize.codigoFuncionario}">
																					<a4j:ajax event="change" execute="@this" />
																					<f:selectItems
																						value="#{MBLigacoes.funcionarioOtimize}" />
																				</h:selectOneMenu>
																			</div>
																		</div>
																	</div>

																	<div class="span12" style="padding: 1%; margin-left: 0">
																		<div class="span2">
																			<label for="status">Observação<span
																				class="required"></span>
																			</label>
																		</div>

																		<div class="span10">
																			<p:inputTextarea maxlength="250"
																				style="display: inline-block !important;
																				height: 30px; 
																				float: right;																			 
																				margin-bottom: 0px !important; 
																				vertical-align: none !important;
																				width: 100% !important;
																				min-height: 30px;"
																				value="#{MBLigacoes.ligacoes.observacaoLigacao}" />
																		</div>
																	</div>
																	<div class="span3">
										<div class="span12" style="padding: 4.6%;"></div>
										<p:commandButton value="Consultar"
											action="#{MBLigacoes.salvar}"
											styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left PersButton"
											icon="fa fa-search">
										</p:commandButton>
									</div>
																</div>

															</form>

														</div>
													</div>
												</div>
											</div>
										</div>

									</form>

									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>
