<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:otm="http://java.sun.com/jsf/composite/otm"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
			<h:form id="teste">
			<p:toolbarGroup>
				<p:commandButton value="Adicionar"  action="#{MBLigacoes.prepararSalvar}" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left PersButton PersButton-add" icon="fa fa-plus" />
			</p:toolbarGroup>
		</h:form>
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa  fa-fw  fa-user"></i>				
				</span>
				<h5>Ligações</h5>
			</div>
		</div>
		<div class="widget-content nopadding">
			<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
			<p:dialog widgetVar="statusDialog" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
				<p:graphicImage name="images/processando.gif" />
			</p:dialog>
			<h:form id="formProduto">			
				<div class="widget-content nopadding">
					<p:dataTable id="tabelaProduto"  reflow="true"  paginator="true" paginatorPosition="bottom"  value="#{MBLigacoes.itensLigacoes}"  rows="5" var="ligacao"> 
						<f:facet name="header">
							<p:outputPanel>
								<h:outputText value="Pesquisar:" />
								<p:inputText  placeholder="Digite aqui para consultar" value="#{MBLigacoes.ligacoes.responsavelOtimize}" style="margin-left: 10px;margin-top: 9px;"/>
								<p:commandButton value="Consultar"	actionListener="#{MBProduto.PrepararPesquisa}" update="@all" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left PersButton" icon="fa fa-search" style=" margin-left: 10px;" />
							</p:outputPanel>			
						</f:facet>
						<p:column headerText="Código" >
							<h:outputText value="#{ligacao.codigoLigacao}" />
						</p:column>
						<p:column headerText="UnidadeOrganizacional" >
							<h:outputText  value="#{ligacao.unidadeOrganizacional.nomeCliente}" />
						</p:column>
						<p:column headerText="Data" >
							<h:outputText  value="#{ligacao.dataLigacao}" />
						</p:column>
						<p:column headerText="Responsavel Otimize" >
							<h:outputText  value="#{ligacoes.responsavelOtimize.nomeFuncionario}" />
						</p:column>
						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Opções" />
							</f:facet>
							<p:commandButton icon="fa fa-remove" class="PersButton PersButton-remove"   >
								<p:confirm header="Confirmação" message="Deseja Excluir ?" icon="ui-icon-alert" />
								<f:attribute name="produtoSelecionado" value="#{produto}" />
							</p:commandButton>
							<p:commandButton icon="fa fa-pencil" class="PersButton PersButton-edit"  update="@all">
                            	<f:attribute name="produtoSelecionado" value="#{produto}"  />
                             </p:commandButton>
						</p:column>
					</p:dataTable>
					<p:confirmDialog   global="true"  >		
			  			<p:commandButton value="sim"  type="button" styleClass="PersButton PersButton-excluir ui-confirmdialog-yes" icon="ui-icon-check" 
			  			
			  			
			  			/>
		           		<p:commandButton value="nao"  type="button" styleClass="PersButton ui-confirmdialog-no" icon="ui-icon-close"  />
					</p:confirmDialog>
				</div>
			</h:form>
		</div>		
	</ui:define>
</ui:composition>