<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:otm="http://java.sun.com/jsf/composite/otm"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h:form id="teste">
			<!--Action boxes-->
			<div class="container-fluid">
				<div class="quick-actions_homepage">
					<ul class="quick-actions">
						<li class="bg_lb"><a href="Clientes.xhtml"> <i
								class="icon-group"></i> Unidade Organizacional
						</a></li>
						<li class="bg_lg"><a href="LigacoesForm.xhtml"> <i
								class="icon icon-skype"></i> Ligações
						</a></li>
						<li class="bg_ly"><a href="FuncionarioForm.xhtml"> <i
								class="icon icon-user"></i> Funcionario
						</a></li>
						<li class="bg_lo"><a href="AtendimentosForm.xhtml"> <i
								class="icon icon-tags"></i> Atendimentos
						</a></li>
						<li class="bg_ls"><a href="RelatoriosForm.xhtml"><i
								class="icon-chevron-down"></i> Relatorios</a></li>
					</ul>
				</div>
			</div>
			<!--End-Action boxes-->
		</h:form>
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="fa  fa-fw  fa-user"></i>
				</span>
				<h5>Protocolo Aberto</h5>
			</div>
		</div>
		<div class="widget-content nopadding">
			<p:ajaxStatus onstart="PF('statusDialog').show()"
				onsuccess="PF('statusDialog').hide()" />
			<p:dialog widgetVar="statusDialog" draggable="false" closable="false"
				resizable="false" showHeader="false" position="center">
				<p:graphicImage name="images/processando.gif" />
			</p:dialog>
			<h:form id="formProtocoloAberto">
				<div class="widget-content nopadding">
					<p:dataTable id="tabelaProtocolo" rows="5" paginator="true"
						value="#{MBProtocolo.itensProtocolosAbertos}" var="protocolo"
						paginatorPosition="bottom">

						<p:column headerText="Protocolo" filterMatchMode="contains">
							<h:outputText value="#{protocolo.numeroProtocolo}" />
						</p:column>


						<p:column headerText="Cliente">
							<h:outputText value="#{protocolo.clienteProtocolo}" />
						</p:column>

						<p:column headerText="Responsavel" filterMatchMode="contains">
							<h:outputText value="#{protocolo.responsavelProtocolo}" />
						</p:column>

						<p:column headerText="Data Abertura">
							<h:outputText value="#{protocolo.aberturaProtocolo}" />
						</p:column>
					</p:dataTable>
				</div>
			</h:form>				
		</div>		
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="fa  fa-fw  fa-user"></i>
				</span>
				<h5>Protocolo Fechado</h5>
			</div>
		</div>
		<div class="widget-content nopadding">
			<h:form id="formProtocoloFechado">
				<div class="widget-content nopadding">
					<div class="widget-content">
						<p:dataTable id="tabelaProtocolo" rows="5" paginator="true"
							value="#{MBProtocolo.itensProtocolosFechados}" var="protocolo"
							paginatorPosition="bottom">
							<p:column headerText="Protocolo" filterMatchMode="contains">
								<h:outputText value="#{protocolo.numeroProtocolo}" />
							</p:column>
							<p:column headerText="Cliente">
								<h:outputText value="#{protocolo.clienteProtocolo}" />
							</p:column>

							<p:column headerText="Responsavel" filterMatchMode="contains">
								<h:outputText value="#{protocolo.responsavelProtocolo}" />
							</p:column>

							<p:column headerText="Data Abertura">
								<h:outputText value="#{protocolo.aberturaProtocolo}" />
							</p:column>

							<p:column headerText="Data Fechamento">
								<h:outputText value="#{protocolo.fechamentoProtocolo}" />
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</h:form>
			
			</div>
	</ui:define>
</ui:composition>


