<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	<ui:define name="content">
		<div id="content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">


						<div class="row-fluid" style="margin-top: 0">
							<div class="span12">
								<div class="widget-box">
									<div class="widget-title">
										<span class="icon"> <i class="icon-user"></i>
										</span>
										<h5>Cadastro de Cliente</h5>
									</div>
									<h:form id="formCliente">
										<p:dataTable id="tabelaCliente" rows="5" paginator="true"
											value="#{MBProtocolo.itensProtocolos}" var="cliente">



											<p:column headerText="ID" filterMatchMode="contains">
												<h:outputText value="#{cliente.codigoProcolo}" />
											</p:column>

										</p:dataTable>
										<p:confirmDialog global="true">

											<p:commandButton value="sim" type="button"
												styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
												update=":formCliente:tabelaCliente" />
											<p:commandButton value="nao" type="button"
												styleClass="ui-confirmdialog-no" icon="ui-icon-close" />

										</p:confirmDialog>


									</h:form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>