<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	<ui:define name="content">
		<div id="content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">



						<div class="row-fluid" style="margin-top: 0">

							<div class="span12">

								<div class="widget-box">
									<div class="widget-title">
										<span class="icon"><i class="icon-signal"></i></span>
										<h5>Protocolos Abertos</h5>
									</div>
									<div class="widget-content">
										<p:dataTable value="#{MBProtocolo.itensProtocolosAbertos}"
											var="protocolo" border="1" cellpadding="2" cellspacing="0"
											paginator="true" paginatorPosition="bottom" rows="5"
											id="tabelaProtocolo">

											<p:column headerText="Protocolo" width="120">
												<h:outputText value="#{protocolo.numeroProtocolo}" />
											</p:column>


											<p:column headerText="Cliente" width="200">
												<h:outputText value="#{protocolo.clienteProtocolo}" />
											</p:column>

											<p:column headerText="Responsavel" width="250">
												<h:outputText value="#{protocolo.responsavelProtocolo}" />
											</p:column>

											<p:column headerText="Data Abertura" width="120">
												<h:outputText value="#{protocolo.aberturaProtocolo}" />
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>