<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">


	<ui:define name="content">

		<div id="content">
			<h:form>
				<p:growl id="growl" showDetail="true" />

				<h:panelGrid columns="2" columnClasses="left,right"
					style="width:100%">
					<p:chart type="pie" model="#{GraficoPizzaMB.pieModel1}"
						style="width:400px;height:300px">
						<p:ajax event="itemSelect" listener="#{GraficoPizzaMB.itemSelect}"
							update="growl" />
					</p:chart>
					
					<p:chart type="pie" model="#{GraficoPizzaMB.pieModel1}"
						style="width:400px;height:300px">
						<p:ajax event="itemSelect" listener="#{GraficoPizzaMB.itemSelect}"
							update="growl" />
					</p:chart>

					

				</h:panelGrid>

			</h:form>


		</div>

	</ui:define>
</ui:composition>